.container {
  width: 250px;
  padding: 0px 20px 0px 20px;
}

.msg{
  padding-bottom: 5px;
}

.chats{
  text-align: left;
  border-radius: 12px;
  height: 100px;
  padding: 10px;
  overflow-y: hidden;
  background-color: #ffffff;
  margin: 0px 0px 16px 0px;
}